[submodule "Ant/vendor/spdlog"]
	path = Ant/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ant/vendor/GLFW"]
	path = Ant/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ant/vendor/imgui"]
	path = Ant/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ant/vendor/glm"]
	path = Ant/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Ant/vendor/yaml-cpp"]
	path = Ant/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Ant/vendor/ImGuizmo"]
	path = Ant/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "Ant/vendor/Box2D"]
	path = Ant/vendor/Box2D
	url = https://github.com/TheCherno/box2d.git
[submodule "Ant/vendor/FastNoise"]
	path = Ant/vendor/FastNoise
	url = https://github.com/Auburn/FastNoiseLite.git
