# Binaries
**/bin/
bin-int/
Intermediates/

# Ant files
*.log

# Visual Studio files and directories
.vs/
**.sin
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
*.json
Ant/vendor/VulkanSDK/
AntPlay/assets/cache
scripts/__pycache__