# Binaries
**/bin/
!vendor/bin/premake/
!vendor/premake/bin/
!Ant/vendor/assimp/bin
!Ant/vendor/mono/bin
bin-int/
obj/
**/cache/**
Ant/vendor/VulkanSDK
AntPlay/Resources/Scripts/Hazel-ScriptCore.dll
AntPlay/Resources/Scripts/Hazel-ScriptCore.pdb
Intermediates/
Binaries
AntPlay/Resources/Scripts/
__pycache__
.idea/

# AntPlay ApplicationSettings
AntPlay/Config/ApplicationSettings.yaml

# Visual Studio files and directories
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

# LFS Folders
lfs/
hooks/

# Meta Files
**.meta

# Log files
**.log

# Auto saves
*.auto

# Dumps
*.nvdbg
*.nv-gpudmp
*gpudmp.json

# Folder Exceptions
!AntPlay/SandboxProject/Assets/Scripts/Binaries

# System DLLs
AntPlay/SandboxProject/Assets/Scripts/Binaries/System*.dll
AntPlay/SandboxProject/Assets/Scripts/Binaries/Microsoft*.dll

# File Exceptions
!AssetRegistryCache.antr