[submodule "Ant/vendor/GLFW"]
	path = Ant/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ant/vendor/glm"]
	path = Ant/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Ant/vendor/Box2D"]
	path = Ant/vendor/Box2D
	url = https://github.com/TheCherno/box2d.git
[submodule "Ant/vendor/msdf-atlas-gen"]
	path = Ant/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen.git
