[submodule "Ant/vendor/spdlog"]
	path = Ant/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ant/vendor/GLFW"]
	path = Ant/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ant/vendor/imgui"]
	path = Ant/vendor/imgui
	url = https://github.com/TheCherno/imgui
